@import 'pixel-retroui/dist/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/public/fonts/Minecraft.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/public/fonts/Minecraft-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Minecraft', sans-serif;
    background-image:
            linear-gradient(to right, #80808012 1px, transparent 1px),
            linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size:
            30px 100%,
            100% 30px;
}